N8N_WORKFLOW_EXPORTS/WF-05-recipe-upload-nextcloud.json
{
  "name": "WF-05-recipe Upload to Nextcloud",
  "nodes": [
    {
      "parameters": {
        "path": "recipe-nextcloud",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTCLOUD_UPLOADER_URL || 'http://localhost:5003' }}/upload",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersUi": "json",
        "jsonBody": "={\n  \"docx_base64\": \"{{ $json.docx_base64 }}\",\n  \"pdf_base64\": \"{{ $json.pdf_base64 }}\",\n  \"filename\": \"{{ $json.filename }}\",\n  \"recipe_id\": \"{{ $json.recipe_id }}\"\n}",
        "options": {}
      },
      "id": "http_upload_nextcloud",
      "name": "Call nextcloud_uploader.py",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "host": "={{ $env.DB_HOST }}",
        "port": "={{ $env.DB_PORT }}",
        "database": "={{ $env.DB_NAME }}",
        "user": "={{ $env.DB_USER }}",
        "password": "={{ $env.DB_PASSWORD }}",
        "ssl": false,
        "query": "UPDATE recipes SET docx_path = @docx_path, pdf_path = @pdf_path, nextcloud_docx_url = @docx_url, nextcloud_pdf_url = @pdf_url, processed = true, updated_at = NOW() WHERE video_id = @video_id;",
        "queryParameters": {
          "parameters": [
            {
              "name": "docx_path",
              "value": "={{ $json.docx_path || '' }}"
            },
            {
              "name": "pdf_path",
              "value": "={{ $json.pdf_path || '' }}"
            },
            {
              "name": "docx_url",
              "value": "={{ $json.docx_url || '' }}"
            },
            {
              "name": "pdf_url",
              "value": "={{ $json.pdf_url || '' }}"
            },
            {
              "name": "video_id",
              "value": "={{ $json.recipe_id || '' }}"
            }
          ]
        }
      },
      "id": "postgres_update_recipe",
      "name": "Update Database with URLs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "MHjN5hbuya1gKM8g",
          "name": "Postgres_Recipe"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/recipe-telegram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersUi": "json",
        "jsonBody": "={\n  \"recipe_id\": \"{{ $json.recipe_id }}\",\n  \"urls\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "http_trigger_telegram",
      "name": "Call WF-06 (Telegram Notify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "respond": "usingResponseCode",
          "responseCode": 200
        },
        "options": {}
      },
      "id": "response_success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call nextcloud_uploader.py",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call nextcloud_uploader.py": {
      "main": [
        [
          {
            "node": "Update Database with URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call WF-06 (Telegram Notify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Upload DOCX and PDF to Nextcloud, update database with URLs"
}
