N8N_WORKFLOW_EXPORTS/WF-02-recipe-extract-data.json
{
  "name": "WF-02-recipe Extract Recipe Data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-extract",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://100.81.127.54:5010/extract",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.body.title || '', description: $json.body.description || '', video_id: $json.body.videoId || '', youtube_channel: $json.body.youtubeChannel || '', video_url: 'https://www.youtube.com/watch?v=' + ($json.body.videoId || ''), thumbnail_url: $json.body.thumbnail || '', published_date: $json.body.publishedAt || '' } }}",
        "options": { "timeout": 900000 }
      },
      "id": "http_parse_recipe",
      "name": "Transcribe and Extract Recipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO recipes (\n  title, category, description, recipe_text, ingredients, steps, nutrition,\n  youtube_url, youtube_channel, thumbnail_url, video_id,\n  transcript, transcript_language, transcript_source, transcription_warning,\n  processed, created_at, updated_at\n+) VALUES (\n  $1, $2, $3, $4::jsonb, $5::jsonb, $6::jsonb, $7::jsonb,\n  $8, $9, $10, $11, $12, $13, $14, $15,\n  false, NOW(), NOW()\n+)\nON CONFLICT (video_id) DO UPDATE SET\n  title = EXCLUDED.title,\n  category = EXCLUDED.category,\n  description = EXCLUDED.description,\n  recipe_text = EXCLUDED.recipe_text,\n  ingredients = EXCLUDED.ingredients,\n  steps = EXCLUDED.steps,\n  nutrition = EXCLUDED.nutrition,\n  transcript = EXCLUDED.transcript,\n  transcript_language = EXCLUDED.transcript_language,\n  transcript_source = EXCLUDED.transcript_source,\n  transcription_warning = EXCLUDED.transcription_warning,\n  updated_at = NOW()\nRETURNING id, video_id, title;",
        "additionalFields": {
          "queryReplacement": "={{ [$json.title, $json.category || 'Інше', $json.description || '', JSON.stringify($json), JSON.stringify($json.ingredients || []), JSON.stringify($json.steps || []), JSON.stringify($json.nutrition || {}), $json.source?.video_url || ('https://www.youtube.com/watch?v=' + ($json.source?.video_id || '')), $json.source?.youtube_channel || '', $json.source?.thumbnail_url || '', $json.source?.video_id || $json.metadata?.video_id || '', $json.transcription?.text || '', $json.transcription?.language || '', $json.transcription?.source || 'description_only', $json.transcription?.warning || ''] }}"
        }
      },
      "id": "postgres_save_recipe",
      "name": "Save Recipe and Transcript",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": { "id": "MHjN5hbuya1gKM8g", "name": "Postgres_Recipe" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, recipe_id: $json.id, video_id: $json.video_id, title: $json.title } }}",
        "options": {}
      },
      "id": "response_success",
      "name": "Respond After Completion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Transcribe and Extract Recipe", "type": "main", "index": 0 }]] },
    "Transcribe and Extract Recipe": { "main": [[{ "node": "Save Recipe and Transcript", "type": "main", "index": 0 }]] },
    "Save Recipe and Transcript": { "main": [[{ "node": "Respond After Completion", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "description": "Transcribe one YouTube video, extract a Ukrainian recipe, persist it, then respond"
}
