N8N_WORKFLOW_EXPORTS/WF-02-recipe-extract-data.json
{
  "name": "WF-02-recipe Extract Recipe Data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-extract",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://172.18.0.1:5010/extract",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.body.title || '', description: $json.body.description || '', video_id: $json.body.videoId || '', youtube_channel: $json.body.youtubeChannel || '', video_url: 'https://www.youtube.com/watch?v=' + ($json.body.videoId || ''), thumbnail_url: $json.body.thumbnail || '', published_date: $json.body.publishedAt || '' } }}",
        "options": { "timeout": 900000 }
      },
      "id": "http_parse_recipe",
      "name": "Transcribe and Extract Recipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const recipe = $json;\n\nfunction sqlQuote(value) {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonQuote(value) {\n  return `${sqlQuote(JSON.stringify(value ?? null))}::jsonb`;\n}\n\nconst videoId = recipe.source?.video_id || recipe.metadata?.video_id || '';\nconst videoUrl = recipe.source?.video_url || (videoId ? `https://www.youtube.com/watch?v=${videoId}` : '');\n\nconst values = {\n  title: recipe.title || '',\n  category: recipe.category || 'Інше',\n  description: recipe.description || '',\n  recipe_text: recipe,\n  ingredients: recipe.ingredients || [],\n  steps: recipe.steps || [],\n  nutrition: recipe.nutrition || {},\n  youtube_url: videoUrl,\n  youtube_channel: recipe.source?.youtube_channel || '',\n  thumbnail_url: recipe.source?.thumbnail_url || '',\n  video_id: videoId,\n  transcript: recipe.transcription?.text || '',\n  transcript_language: recipe.transcription?.language || '',\n  transcript_source: recipe.transcription?.source || 'description_only',\n  transcription_warning: recipe.transcription?.warning || ''\n};\n\nconst saveRecipeSql = `INSERT INTO recipes (\n  title, category, description, recipe_text, ingredients, steps, nutrition,\n  youtube_url, youtube_channel, thumbnail_url, video_id,\n  transcript, transcript_language, transcript_source, transcription_warning,\n  processed, created_at, updated_at\n) VALUES (\n  ${sqlQuote(values.title)}, ${sqlQuote(values.category)}, ${sqlQuote(values.description)},\n  ${jsonQuote(values.recipe_text)}, ${jsonQuote(values.ingredients)}, ${jsonQuote(values.steps)}, ${jsonQuote(values.nutrition)},\n  ${sqlQuote(values.youtube_url)}, ${sqlQuote(values.youtube_channel)}, ${sqlQuote(values.thumbnail_url)}, ${sqlQuote(values.video_id)},\n  ${sqlQuote(values.transcript)}, ${sqlQuote(values.transcript_language)}, ${sqlQuote(values.transcript_source)}, ${sqlQuote(values.transcription_warning)},\n  false, NOW(), NOW()\n)\nON CONFLICT (video_id) DO UPDATE SET\n  title = EXCLUDED.title,\n  category = EXCLUDED.category,\n  description = EXCLUDED.description,\n  recipe_text = EXCLUDED.recipe_text,\n  ingredients = EXCLUDED.ingredients,\n  steps = EXCLUDED.steps,\n  nutrition = EXCLUDED.nutrition,\n  transcript = EXCLUDED.transcript,\n  transcript_language = EXCLUDED.transcript_language,\n  transcript_source = EXCLUDED.transcript_source,\n  transcription_warning = EXCLUDED.transcription_warning,\n  updated_at = NOW()\nRETURNING id, video_id, title;`;\n\nreturn [{ json: { ...recipe, save_recipe_sql: saveRecipeSql } }];"
      },
      "id": "prepare_recipe_sql",
      "name": "Prepare Recipe SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.save_recipe_sql }}",
        "additionalFields": {}
      },
      "id": "postgres_save_recipe",
      "name": "Save Recipe and Transcript",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 300],
      "credentials": {
        "postgres": { "id": "MHjN5hbuya1gKM8g", "name": "Postgres_Recipe" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, recipe_id: $json.recipe_id, video_id: $json.video_id, title: $json.title, docx_path: $json.docx_path, pdf_path: $json.pdf_path, nextcloud_docx_url: $json.nextcloud_docx_url, nextcloud_pdf_url: $json.nextcloud_pdf_url } }}",
        "options": {}
      },
      "id": "response_success",
      "name": "Respond After Completion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "url": "https://n8n.csc-ua.tech/webhook/recipe-docx",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { recipe_id: $json.id, video_id: $json.video_id } }}",
        "options": { "timeout": 300000 }
      },
      "id": "http_generate_docx",
      "name": "Call WF-03 (Generate DOCX)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "url": "https://n8n.csc-ua.tech/webhook/recipe-pdf",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { recipe_id: $json.recipe_id, video_id: $json.video_id, docx_path: $json.docx_path } }}",
        "options": { "timeout": 300000 }
      },
      "id": "http_convert_pdf",
      "name": "Call WF-04 (Convert PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "url": "https://n8n.csc-ua.tech/webhook/recipe-nextcloud",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { recipe_id: $json.recipe_id, video_id: $json.video_id, docx_path: $json.docx_path, pdf_path: $json.pdf_path } }}",
        "options": { "timeout": 300000 }
      },
      "id": "http_upload_nextcloud",
      "name": "Call WF-05 (Upload Nextcloud)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Transcribe and Extract Recipe", "type": "main", "index": 0 }]] },
    "Transcribe and Extract Recipe": { "main": [[{ "node": "Prepare Recipe SQL", "type": "main", "index": 0 }]] },
    "Prepare Recipe SQL": { "main": [[{ "node": "Save Recipe and Transcript", "type": "main", "index": 0 }]] },
    "Save Recipe and Transcript": { "main": [[{ "node": "Call WF-03 (Generate DOCX)", "type": "main", "index": 0 }]] },
    "Call WF-03 (Generate DOCX)": { "main": [[{ "node": "Call WF-04 (Convert PDF)", "type": "main", "index": 0 }]] },
    "Call WF-04 (Convert PDF)": { "main": [[{ "node": "Call WF-05 (Upload Nextcloud)", "type": "main", "index": 0 }]] },
    "Call WF-05 (Upload Nextcloud)": { "main": [[{ "node": "Respond After Completion", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "description": "Transcribe one YouTube video, extract a Ukrainian recipe, generate DOCX/PDF, upload to Nextcloud, then respond"
}
