N8N_WORKFLOW_EXPORTS/WF-06-recipe-telegram-notify.json
{
  "name": "WF-06-recipe Telegram Notify & Log",
  "nodes": [
    {
      "parameters": {
        "path": "recipe-telegram",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body || $json;\n\nfunction sqlQuote(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction intOrNull(value) {\n  const parsed = Number.parseInt(value, 10);\n  return Number.isFinite(parsed) ? String(parsed) : 'NULL';\n}\n\nconst recipeId = input.recipe_id || input.id || '';\nconst videoId = input.video_id || input.videoId || '';\nconst docxUrl = input.nextcloud_docx_url || input.docx_share_link || input.docx_url || input.urls?.docx_url || '';\nconst pdfUrl = input.nextcloud_pdf_url || input.pdf_share_link || input.pdf_url || input.urls?.pdf_url || '';\n\nconst recipeIdSql = intOrNull(recipeId);\nconst videoIdSql = sqlQuote(videoId);\nconst docxUrlSql = sqlQuote(docxUrl);\nconst pdfUrlSql = sqlQuote(pdfUrl);\n\nconst findRecipeSql = `WITH input AS (\n  SELECT ${recipeIdSql}::integer AS recipe_id,\n         ${videoIdSql}::text AS video_id,\n         ${docxUrlSql}::text AS input_docx_url,\n         ${pdfUrlSql}::text AS input_pdf_url\n), selected AS (\n  SELECT r.*\n  FROM recipes r, input i\n  WHERE (i.recipe_id IS NOT NULL AND r.id = i.recipe_id)\n     OR (i.video_id IS NOT NULL AND i.video_id <> '' AND r.video_id = i.video_id)\n  ORDER BY r.updated_at DESC\n  LIMIT 1\n)\nSELECT\n  selected.id AS recipe_id,\n  selected.video_id,\n  selected.title,\n  selected.category,\n  selected.youtube_url,\n  selected.youtube_channel,\n  COALESCE(NULLIF(input.input_docx_url, ''), selected.nextcloud_docx_url, '') AS docx_url,\n  COALESCE(NULLIF(input.input_pdf_url, ''), selected.nextcloud_pdf_url, '') AS pdf_url\nFROM input\nLEFT JOIN selected ON TRUE;`;\n\nreturn [{ json: { recipe_id: recipeId, video_id: videoId, docx_url: docxUrl, pdf_url: pdfUrl, find_recipe_sql: findRecipeSql } }];"
      },
      "id": "prepare_lookup_sql",
      "name": "Prepare Lookup SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.find_recipe_sql }}",
        "additionalFields": {}
      },
      "id": "postgres_get_recipe",
      "name": "Get Recipe Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "MHjN5hbuya1gKM8g",
          "name": "Postgres_Recipe"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Новий рецепт оброблено\n\nНазва: {{ $json.title || 'Невідомий рецепт' }}\nКатегорія: {{ $json.category || 'Інше' }}\nКанал: {{ $json.youtube_channel || 'Невідомий канал' }}\n\n📄 DOCX: {{ $json.docx_url || 'посилання ще не створено' }}\n📊 PDF: {{ $json.pdf_url || 'посилання ще не створено' }}\n🎬 YouTube: {{ $json.youtube_url || 'N/A' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram_send_message",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "15FBWslyV5AvsHZc",
          "name": "Telegram Recipe_Oleksii_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sqlQuote(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst videoId = $json.video_id || '';\nconst markCompletedSql = `UPDATE video_log\nSET status = 'completed',\n    processed = TRUE,\n    error_details = NULL,\n    updated_at = NOW()\nWHERE video_id = ${sqlQuote(videoId)};`;\n\nreturn [{ json: { ...$json, mark_completed_sql: markCompletedSql } }];"
      },
      "id": "prepare_completed_sql",
      "name": "Prepare Completed SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.mark_completed_sql }}",
        "additionalFields": {}
      },
      "id": "postgres_mark_completed",
      "name": "Mark as Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1420,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "MHjN5hbuya1gKM8g",
          "name": "Postgres_Recipe"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, recipe_id: $('Get Recipe Details').item.json.recipe_id, video_id: $('Get Recipe Details').item.json.video_id, title: $('Get Recipe Details').item.json.title, docx_url: $('Get Recipe Details').item.json.docx_url, pdf_url: $('Get Recipe Details').item.json.pdf_url } }}",
        "options": {}
      },
      "id": "response_success",
      "name": "Respond After Telegram",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1660,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Lookup SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lookup SQL": {
      "main": [
        [
          {
            "node": "Get Recipe Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recipe Details": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Prepare Completed SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Completed SQL": {
      "main": [
        [
          {
            "node": "Mark as Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Completed": {
      "main": [
        [
          {
            "node": "Respond After Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Send Telegram notification with recipe details and Nextcloud links, then mark video processing as completed."
}
