N8N_WORKFLOW_EXPORTS/WF-06-recipe-telegram-notify.json
{
  "name": "WF-06-recipe Telegram Notify & Log",
  "nodes": [
    {
      "parameters": {
        "path": "recipe-telegram",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "host": "={{ $env.DB_HOST }}",
        "port": "={{ $env.DB_PORT }}",
        "database": "={{ $env.DB_NAME }}",
        "user": "={{ $env.DB_USER }}",
        "password": "={{ $env.DB_PASSWORD }}",
        "ssl": false,
        "query": "SELECT title, category, youtube_url, youtube_channel FROM recipes WHERE video_id = @video_id;",
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Webhook').item.json.recipe_id }}"
            }
          ]
        }
      },
      "id": "postgres_get_recipe",
      "name": "Get Recipe Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        450,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "MHjN5hbuya1gKM8g",
          "name": "Postgres_Recipe"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge_recipe_and_urls",
      "name": "Merge Recipe and URLs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Новий рецепт оброблено\n\nНазва: {{ $json.title || 'Unknown' }}\nКатегорія: {{ $json.category || 'Інше' }}\nКанал: {{ $json.youtube_channel || 'Unknown' }}\n\n📄 DOCX: {{ $json.urls?.docx_url || 'Processing...' }}\n📊 PDF: {{ $json.urls?.pdf_url || 'Processing...' }}\n🎬 YouTube: {{ $json.youtube_url || 'N/A' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram_send_message",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        850,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "15FBWslyV5AvsHZc",
          "name": "Telegram Recipe_Oleksii_bot"
        }
      }
    },
    {
      "parameters": {
        "host": "={{ $env.DB_HOST }}",
        "port": "={{ $env.DB_PORT }}",
        "database": "={{ $env.DB_NAME }}",
        "user": "={{ $env.DB_USER }}",
        "password": "={{ $env.DB_PASSWORD }}",
        "ssl": false,
        "query": "UPDATE video_log SET status = 'completed', processed = true, updated_at = NOW() WHERE video_id = @video_id;",
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.recipe_id }}"
            }
          ]
        }
      },
      "id": "postgres_mark_completed",
      "name": "Mark as Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "MHjN5hbuya1gKM8g",
          "name": "Postgres_Recipe"
        }
      }
    },
    {
      "parameters": {
        "respondWithOptions": {
          "respond": "usingResponseCode",
          "responseCode": 200
        },
        "options": {}
      },
      "id": "response_success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Recipe Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Recipe and URLs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Recipe Details": {
      "main": [
        [
          {
            "node": "Merge Recipe and URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Recipe and URLs": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Mark as Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Send Telegram notification with recipe details and Nextcloud links, mark workflow as completed"
}
