N8N_WORKFLOW_EXPORTS/WF-05-recipe-upload-nextcloud.json
{
  "name": "WF-05-recipe Upload to Nextcloud",
  "nodes": [
    {
      "parameters": {
        "path": "recipe-nextcloud",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5013/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  recipe_id: $json.recipe_id,\n  video_id: $json.video_id,\n  docx_path: $json.docx_path,\n  pdf_path: $json.pdf_path,\n  title: $json.title,\n  category: $json.category\n} }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "upload_nextcloud",
      "name": "Upload to Nextcloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response_success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload to Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Nextcloud": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Upload generated DOCX and PDF files to Nextcloud and persist resulting URLs."
}
