N8N_WORKFLOW_EXPORTS/WF-04-recipe-convert-pdf.json
{
  "name": "WF-04-recipe Convert to PDF",
  "nodes": [
    {
      "parameters": {
        "path": "recipe-pdf",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PDF_CONVERTER_URL || 'http://localhost:5002' }}/convert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersUi": "json",
        "jsonBody": "={\n  \"docx_base64\": \"{{ $json.docx_base64 }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "id": "http_convert_pdf",
      "name": "Call pdf_converter.py",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/recipe-nextcloud",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersUi": "json",
        "jsonBody": "={\n  \"docx_base64\": \"{{ $json.docx_base64 }}\",\n  \"pdf_base64\": \"{{ $json.pdf_base64 }}\",\n  \"filename\": \"{{ $json.filename }}\",\n  \"recipe_id\": \"{{ $json.recipe_id }}\"\n}",
        "options": {}
      },
      "id": "http_trigger_nextcloud",
      "name": "Call WF-05 (Upload to Nextcloud)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "respond": "usingResponseCode",
          "responseCode": 200
        },
        "options": {}
      },
      "id": "response_success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call pdf_converter.py",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call pdf_converter.py": {
      "main": [
        [
          {
            "node": "Call WF-05 (Upload to Nextcloud)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Convert DOCX to PDF using LibreOffice Headless"
}
