N8N_WORKFLOW_EXPORTS/WF-03-recipe-generate-docx.json
{
  "name": "WF-03-recipe Generate DOCX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-docx",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:5011/generate",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { recipe_id: $json.body.recipe_id || $json.body.id || '', video_id: $json.body.video_id || $json.body.videoId || '', recipe: $json.body.recipe || undefined } }}",
        "options": { "timeout": 300000 }
      },
      "id": "http_generate_docx",
      "name": "Call generate_docx.py",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, recipe_id: $json.recipe_id, video_id: $json.video_id, title: $json.title, filename: $json.filename, docx_path: $json.docx_path, docx_url: $json.docx_url } }}",
        "options": {}
      },
      "id": "response_success",
      "name": "Respond After DOCX",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Call generate_docx.py", "type": "main", "index": 0 }]] },
    "Call generate_docx.py": { "main": [[{ "node": "Respond After DOCX", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "description": "Generate DOCX for one recipe and store the local docx_path"
}
